body{
    margin: 0;
    padding: 0;
}

.videoListTable {
    width: 100%;
    margin: 0px 0px 10px 20px;
    border-radius: 20px;
    background-color: #eeeeee;


}

.videoListTable:hover {
    background-color: #dedede;
    cursor: pointer;
}

.videoTable {
    width: 400px;
    min-width: 300px;
    margin: 10px 10px;
    padding: 10px 0px;
}

.VT_thumbnail {
    width: 240px;
    height: 180px;
    width: 240px;
    margin: 20px;
    display: inline-block;
}


.VT_category,
.VT_narrative,
.VT_method,
.VT_presenter,
.VT_uploadedDate {
    font-family: "pre1";

}

.VT_category,
.VT_narrative,
.VT_method {
    font-size: 15px;
    height: 25px;
    padding: 0px 10px;
    line-height: 180%;
}

.VT_category {
    width: fit-content;



    display: inline-block;
    background-color: rgb(80, 37, 32);
    border-radius: 20px;
    color: white;
    text-align: center;

}

.VT_narrative {
    width: fit-content;

    display: inline-block;
    background-color: rgb(30, 91, 52);
    border-radius: 20px;
    color: white;
    text-align: center;

}

.VT_method {
    width: fit-content;


    display: inline-block;
    background-color: rgb(50, 46, 93);
    border-radius: 20px;
    color: white;
    text-align: center;


}

.VT_videoTitle {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;

    font-weight: bold;
    font-size: 36px;
    color: rgb(29, 29, 29);
    letter-spacing: 2px;
}



.VT_keywords {
    height: auto;
    margin-bottom: 5px;
    margin-right: 2px;

    font-size: 17px;
    display: inline-block;
    font-family: "pre2";
    letter-spacing: -1px;


}

.VT_presenter {
    width: 50%;
    min-width: 250px;
    height: 35px;
    /* margin-top: 10px; */
    font-size: 13px;
    display: inline-block;
    font-size: 16px;
}

.VT_uploadedDate {
    height: 35px;
    font-size: 14px;
    text-align: right;
    padding-right: 30px;
    margin-bottom: 5px;
}


/* for errMsg : notFound(404) */
#errorTable {
    width: 600px;
    height: 150px;
    margin: 200px auto;
}

#errorTitle {
    font-size: 35px;
}

#errorDetail {
    font-size: 20px;

}

/*section*/
.bodyTable {
    width: 100%;
    height: 100%;
}

.aside {

    margin: 55px 30px 50px 50px;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 0px 0px 10px 10px;
    float: right;
    min-width: 300px;
    width: 300px;


}

.section {
    padding-top: 5px;
    padding-left: 10px;
    width: 80%;
    height: auto;
    min-width: 500px;
    vertical-align: top;
}


.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo-cmp {
    background: #ffffff;
    color: #497081;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
    width: 180px;
}

.todo-cmp__header {

    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #ddd;
    font-family: "pre1";


    font-size: 23px;
}

.todo-cmp__header h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 4px auto;
    padding: 0;
}

.todo-cmp__header p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 0.8rem;
}

.todo-cmp__list {
    list-style: none;
    padding: 0 15px;

}

.todo-cmp__list li {
    padding: 5px 0 5px;
    margin: 0;
    text-align: left;
    width: 100%;

    font-size: 1.1rem;
    font-family: "pre2";


}

.todo-cmp__list li label {
    cursor: pointer;

    width: 100%;
    display: block;
    letter-spacing: 1px;

}

.todo-cmp__list li label input {
    float: right;
    opacity: 0;
}

.todo-cmp__list li label span {
    position: relative;
    display: block;
    transition: all 550ms ease-in-out;

    letter-spacing: -0.3px;
}

.todo-cmp__list li label input+span::after {
    content: "";
    display: block;
    border: none;
    border-radius: 13px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 10;
    transition: all 550ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* https://matthewlein.com/tools/ceaser */
}

.todo-cmp__list li label input+span::before {
    content: "✔";
    display: block;
    font-size: 22px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: -2px;
    top: -8px;
    z-index: 10;
    opacity: 0;
}

.todo-cmp__list li label input:checked+span {

    transition: all 550ms ease-in-out;
    color: rgb(59, 59, 59);
}

.todo-cmp__list li label input:checked+span::after {
    opacity: 0;
    height: 17px;
    width: 17px;
    top: -2px;
    right: -2px;
}

.todo-cmp__list li label input:checked+span::before {
    opacity: 1;
    transition: all 550ms ease-in-out;
}

#resetBtn {
    float: right;
    margin: 5px 0px;
    font-size: 14px;
    font-family: 'pre1';
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    visibility: hidden;
}

#resetBtn:hover {
    cursor: pointer;
    background-color:rgb(50, 46, 93);
}