{% extends 'core/base.html' %}

{% block head_title %}
{{post.title}} - Blog
{% endblock %}

{% block main_area %}
<div class="col-lg-8">
    <!-- Post content-->
    <div id="post-area">
        <article>
            {% if post.category %}
            <span class="badge badge=secondary float-right">{{post.category}}</span>
            {% else %}
            <span class="badge badge=secondary float-right">미분류</span>
            {% endif %}
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{post.title}}</h1>
                <h5 class="text-muted">{{ post.hook_text }}</h5> <!-- 요약문 -->
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">{{post.created_at}} by {{ post.author | upper }}</div>
                <!-- Post categories-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4">
                {% if post.head_video %}
                <!--BOO! 사진 지정 안하면 일단 랜덤으로 사진 줌-->
                <video id="myVideo" class="img-fluid rounded" src="{{post.head_video.url}}" alt="{{post.title}} head_video"
                    controls autoplay="false"></video>
                {% else %}
                <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random_image">
                {% endif %}
                <input type="button" value="move" onclick="inputMove()"/>
                <script>
                    var vid = document.getElementById("myVideo");
                
                    function inputMove() {
                        vid.currentTime = 100;
                        vid.play();
                    }
                </script>
            </figure>
            <!-- Post content-->
            <section class="mb-5">
                <p>{{post.content}}</p>
            </section>
        </article>
    </div>
    <div id="comment-area">
        <!-- Comments section-->
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body">
                    <!-- Comment form-->
                    <form class="mb-4"><textarea class="form-control" rows="3"
                            placeholder="Join the discussion and leave a comment!"></textarea></form>
                    <!-- Comment with nested comments-->
                    <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            If you're going to lead a space frontier, it has to be government; it'll never be private
                            enterprise. Because the space frontier is dangerous, and it's expensive, and it has
                            unquantified
                            risks.
                            <!-- Child comment 1-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    And under those conditions, you cannot establish a capital-market evaluation of that
                                    enterprise. You can't get investors.
                                </div>
                            </div>
                            <!-- Child comment 2-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle"
                                        src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When you put money directly to a problem, it makes a good headline.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single comment-->
                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle"
                                src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            When I look at the universe and all the ways the universe wants to kill us, I find it hard
                            to
                            reconcile that with statements of beneficence.
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
