{% extends "core/base.html" %}
{% load crispy_forms_tags %} 
{% block main_area %}
<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <h4>계정생성</h4>
        </div>
        <div class="col-8 text-right">
            <span>또는 <a href="{% url 'Core:login' %}">로그인 하세요.</a></span>
        </div>
    </div>
    <form method="post" class="post-form" action="{% url 'Core:signup' %}">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit" class="btn btn-primary">생성하기</button>
    </form>
</div>
{% endblock %}