{% extends 'core/upload_detail.html' %}

{% block head_title %}
{{post.title}} - Blog
{% endblock %}

{% block main_area %}

<div class="col-lg-12">
    <!-- Post content-->
    <div id="post-area">
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">제목{{post.title}}</h1>
                <h5 class="text-muted">소제목{{ post.hook_text }}</h5> <!-- 요약문 -->
                <!-- Post meta content-->
                <div class="text-muted fst-italic mb-2">날짜{{post.created_at}} by 작성자{{post.author}}</div>
                <!-- 카테고리를 보여주는 부분 삭제해도 무방함-->
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                
                <!-- 등록된 사용자일 경우 edit 버튼 보여줌 -->
                {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-right" href="/core/update_post/{{post.pk}}/" role="button"></i> Edit
                    post</a>
                {% endif %}
            </header>
            <!-- Preview image figure-->
            <figure class="mb-4">
                <video class="img-fluid rounded" id = "video" 
                src="../../../media/Uploaded/Video/algo.mp4"
                controls="controls"></video>
                <div>result :
                    {{Metadata}}</div>
            </figure>
            <section class="mb-5">
                <p>포스트 내용이 들어갈 곳입니다{{post.content}}</p>
            </section>

        </article>
    </div>
    <div id="search-area">
        <section class="mb-5">
            <div class="card bg-light">
                <h5 class="card-header">목차별 인덱싱(TimeStamp)</h5>
                <div class="card-body">
                    <!-- search form-->
                    <div class="input-group">
                        <input type="text" class="form-control" rows="2" placeholder="Search for..." id="search-input">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" onclick="searchPost();">Go!</button>
                        </span>
                    <div class="d-flex mb-4">
                            <p>
                                <button id="ts" onclick="inputMove()">0:30</button>
                            </p>
                            <script>
                                function inputMove() {
                                    var vid = document.getElementById("video");
                                    vid.currentTime = 30; //30초로 지정
                                    vid.play();
                                }
            
                                function move(num) {
                                    vid.currentTime = num;
                                    vid.play();
                                }
                            </script>
                            {% for timestamp in timestamps %}
                                {{timestamp.time}}
                                :
                                {{timestamp.subtitle}}
                                <br>
                            {% endfor %}
                        <!-- Parent comment-->
                        운영체제의 목적에는 처리능력 향상, 사용 가능도 향상, 반환 시간 단축 등이 있다. 이 처리능력, 반환시간, 사용 가능도, 신뢰도는 운영체제의 성능을 평가하는 기준이 됩니다.
                        처리능력(Throughput): 일정 시간 내에 시스템이 처리하는 일의 양
                        반환시간(Turn Around Time): 시스템에 작업을 의뢰한 시간부터 처리가 완료될 때까지 걸린 시간      
                        사용가능도(Availability): 시스템을 사용할 필요가 있을 때 즉시 사용 가능한 정도
                        신뢰도(Reliabilty): 시스템이 주어진 문제를 정확하게 해결하는 정도
                    </div>
                    <script type="text/javascript">
                        function searchPost() {
                            var n = 0;
                            var str = document.getElementById("search-input").value;
                            if (navigator.userAgent.indexOf("rv:11") > -1) {
                                var f, contents = document.body.createTextRange();
                                for (var i = 0; i <= n && (f = contents.findText(str)) != false; i++) {
                                    contents.moveStart('character');
                                    contents.moveEnd('textedit');
                                }
                                if (f) {
                                    contents.moveStart('character', -1);
                                    contents.findText(str);
                                    contents.select();
                                    n++;
                                }
                            } else {
                                window.find(str);
                            }
                        }
                    </script>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
