<!DOCTYPE html>
{% load static %}
<html>
<head>
        <title>VIFO - SEARCH {{searchWord}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/videoList.css' %}">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            function searchDetail(search_type,search_detail_type){
                document.getElementById("search_detail_type").value = search_detail_type;
                document.getElementById("search_type").value = search_type;
                document.getElementById("form").submit();
            }
            
            function Change(){
                //alert( $("#selectd_category option:selected").val());
                selected = $("#selectd_category option:selected").val();
                if(selected == "choose category")
                    return;
                else
                    searchDetail("category",selected);
            }
        </script>
</head>
<body class="bodyArea">
    
    videoIdList = {% for id in videoIdList %}{{id}} {%endfor%} <br>
    <form action="{% url 'Core:detailSearch'%}" method="POST" id="form">
        {% csrf_token %}
        <input type="hidden" name="videoIdList" value="{{videoIdList}}">
        <input type="hidden" name="search_type" id="search_type">
        <input type="hidden" name="search_detail_type" id="search_detail_type">

        <select id=selectd_category onchange="Change()" >
            <option selected>choose category</option>
            <option>IT</option>
            <option>식물</option>
            <option>지리</option>
            <option>경제</option>
        </select>
        <br>
        <input type="button" value="IT" onclick="searchDetail('category','IT')">
        <input type="button" value="식물" onclick="searchDetail('category','식물')">
        <input type="button" value="지리" onclick="searchDetail('category','지리')">
        <br>

        <input type="button" id="method_t" value="실습" onclick="searchDetail('method','실습')">
        <input type="button" id="method_p" value="이론" onclick="searchDetail('method','이론')">
    </form>

    {% include 'core/test_header.html' %}
    {% if code == 200 %}
        {% for meta in videoMetaList %}
        <!-- video id:{{ii.id_id}} <br> -->
            {% for ii in meta.metadata %}
            <table class="videoListTable" onClick="location.href='/test/detail/{{ii.id_id}}'">
                <tr>
                    <td style="width: 360px;">
                        <image class="VT_thumbnail" src="{{meta.thumbnail}}"></image>
                    </td>
                    <td>
                        <table class="videoTable">
                            <tr><td class="VT_videoTitle">{{ii.title}}</td></tr>
                            <tr><td>
                                <div class="VT_category">{{ii.category}}</div>
                                <div class="VT_narrative">{{ii.narrative}}</div>
                                <div class="VT_method">{{ii.method}}</div>
                                <div class="rank_data">detail은 (개발중..)% 입니다</div>
                            </td></tr>
                            <tr><td>
                                {% for key in meta.keyword %}
                                    {% if key != "" and forloop.counter < 6 %}
                                        <div class="VT_keywords">#{{key}}</div>
                                    {% endif %}
                                {% endfor %}
                            </td></tr>
                            <tr><td>
                                <div class="VT_presenter">
                                    <image src="{% static 'img/user.png' %}" style="height: 17px; align-items: center;"></image>
                                    {{ii.presenter}}
                                </div>
                                <div class="VT_uploadedDate">{{ii.uploaddate}}</div>
                            </td></tr>
                        </table>
                    </td>
                </tr>
            </table>
            {% endfor %}
        {% endfor %}
        </td>
    </tr>
    </table>

    {% else %}
    <table id="errorTable">
        <tr><td>
            <span id="errorTitle">
                <span style="font-weight:bold; font-size:40px;">{{searchWord}}</span> 에 대한 검색결과가 없습니다.
            </span>
        </td></tr>
        <tr><td>
            <div class="errorDetail">
                모든 단어의 맞춤법이 정확한지 확인하거나 다른 검색어로 다시 검색을 시도해주세요.<br>
            </div>
        </td></tr>
    </table>
    {% endif %}
</body>
</html>