<!-- extends 'core/upload_detail.html' %} -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<!DOCTYPE html>
{% load static %}
<html>
<head>
        {% for metadata in metadatas %}
        <title>VMetaSys - {{metadata.title}} </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/videoDetail.css' %}?after">

        <!-- submit check -->
        
</head>
<body class="bodyArea">
    <form onsubmit="return validCheck()" method="POST" id="form">
    {% csrf_token %}
    <script>
        
        function validCheck() {
            var i = 0;
            // sys defined keyword의 expose를 sysKEList(system Keyword Expose List) 전달
            for(var key in sysKEList){
                var kk = document.createElement('input');
                kk.setAttribute("type","hidden");
                kk.setAttribute("name","sysKEList");
                kk.setAttribute("value",sysKEList[i]);
                document.getElementById('form').append(kk);
                i++;
            }
            // user defined keyword의 expose를  전달
            var i = 0;
            for(var key in userKEList){
                var kk = document.createElement('input');
                kk.setAttribute("type","hidden");
                kk.setAttribute("name","userKEList");
                kk.setAttribute("value",userKEList[i]);
                document.getElementById('form').append(kk);
                i++;
            }
            // 새롭게 추가된 user defined keyword의 content와 expose여부 전달
            var i = 0;
            for(var key in newUserKEList){
                var kk = document.createElement('input');
                kk.setAttribute("type","hidden");
                kk.setAttribute("name","newUserKEList");
                kk.setAttribute("value",newUserKEList[i]);
                document.getElementById('form').append(kk);
                i++;
            }
            var i = 0;
            for(var key in newUserKCList){
                var kk = document.createElement('input');
                kk.setAttribute("type","hidden");
                kk.setAttribute("name","newUserKCList");
                kk.setAttribute("value",newUserKCList[i]);
                document.getElementById('form').append(kk);
                i++;
            }
            location.href='/test/success/{{ii.id_id}}'
        }
    </script>
    {% include 'core/test_header.html' %}
    <div class="divParent">
        <!-- Post content-->
        <div class="detailHeader">
            <!-- Preview image figure-->
            <video class="videoPlayer" id = "video" src="{{videoaddr}}" controls></video>
            <!--<div>result : {{Metadata}}</div>-->

            <!-- Post title-->
            <div class = "videoTitle">{{ metadata.title }}</div>
            <!-- Post meta content-->
            <div class = "videoUploadDate">{{metadata.uploaddate}}</div>
            <div class = "videoPresenter"> by {{metadata.presenter}}</div> <br>
        </div> <!-- end of detail Header-->
        <div class="detailMetadata">
            <table class="metadataTable">
                <!-- Basic metadata -->
                <tr><td colspan="2"><div class="metadataTR">
                    <div class="metadataTitle">CATEGORY</div>
                    <div class="metadataContent">{{metadata.category}}</div>
                </div></td></tr>
                <tr><td colspan="2"><div class="metadataTR">
                    <div class="metadataTitle">NARRATIVE</div>
                    <div class="metadataContent">{{metadata.narrative}}</div>
                </div></td></tr>
                <tr><td colspan="2"><div class="metadataTR">
                    <div class="metadataTitle">METHOD</div>
                    <div class="metadataContent">{{metadata.method}}</div>
                </div></td></tr>
                <!-- Keywords -->
                <script>
                    var sysKEList = [];
                    var userKEList = [];
                    var newUserKEList = [];
                    var newUserKCList = [];
                    $(document).ready(function(){
                        $("button").on('click', function(e){
                            // 같은 레벨에서 몇번쨰
                            var i = $(this).index();  
                            
                            if($(this).hasClass("keywordAddBtn"))   // 키워드 새로 추가하기 버튼은 아래 과정 안하기
                                return;
                            else{
                                console.log(i);  // *번째

                                // system defined keyword
                                if($(this).hasClass("keywordsBtn")){ // expose가 1인 경우
                                    $(this).removeClass('keywordsBtn');
                                    $(this).addClass('keywordsClickedBtn');
                                    sysKEList.splice(i , 1 , parseInt("0"));
                                }else if($(this).hasClass("keywordsClickedBtn")){
                                    $(this).removeClass('keywordsClickedBtn'); // expose가 0인 경우
                                    $(this).addClass('keywordsBtn');
                                    sysKEList.splice(i , 1 , parseInt("1"));
                                }
                                // user defined keyword
                                else if($(this).hasClass("userKBtn")){
                                    $(this).removeClass('userKBtn'); // expose가 1인 경우
                                    $(this).addClass('userKClickedBtn');
                                    userKEList.splice(i , 1 , parseInt("0"));
                                }else{
                                    $(this).removeClass('userKClickedBtn'); // expose가 0인 경우
                                    $(this).addClass('userKBtn');
                                    userKEList.splice(i , 1 , parseInt("1"));
                                }
                                
                                // 존재하는 모든 버튼을 기준으로 index
                                // var j = $("button").index(this);  
                                // console.log(j);

                                console.log(sysKEList);
                                console.log(userKEList);
                            }
                            
                        });


                        $(document).on("click", "button[class='keywordAddBtn']", function () {
                            var val = $("#inputKeyW").val();
                            $("#inputKeyW").val("");
                            var newKeyword = "<button type='button' id='newUserkeywordsBtn' class='userKBtn'>"+val+"</button>";
                            $(".userdefinedKeywords").append(newKeyword);
                            newUserKEList.push(parseInt("1"));
                            newUserKCList.push(val);
                        });

                        $(document).on("click", "button[id='newUserkeywordsBtn']", function () {
                            console.log(newUserKEList);
                            console.log(newUserKCList);
                            var i = $(this).index();
                            i = i - userKEList.length;
                            if($(this).hasClass("userKBtn")){
                                $(this).removeClass('userKBtn'); // expose가 1인 경우
                                $(this).addClass('userKClickedBtn');
                                newUserKEList.splice(i , 1 , parseInt("0"));
                            }else{
                                $(this).removeClass('userKClickedBtn'); // expose가 0인 경우
                                $(this).addClass('userKBtn');
                                newUserKEList.splice(i , 1 , parseInt("1"));
                            }
                            //console.log(i);
                        });

                    });
                </script>
                <tr><td colspan="2"><div class="metadataTR">
                    <div class="metadataTitle">KEYWORDS</div>
                    {% for keyword in keywords %}
                        <input type="hidden" value={{keyword.keyword}} name="sysKCList">
                        <script>sysKEList.push({{keyword.expose}})</script>
                    {% endfor %}

                    {% for userkeyword in userkeywords %}
                        <input type="hidden" value={{userkeyword.keyword}} name="userKCList">
                        <script>userKEList.push({{userkeyword.expose}})</script>
                    {% endfor %}
                </div></td></tr>
                <tr class="metadataDetailTR"><td colspan="2">
                    - System Defined <br>
                    <div class="sysdefinedKeywords">
                        {% for keyword in keywords %}
                            {% if keyword.expose == 1 %}
                                <button type="button" id="keywordsBtn" class="keywordsBtn" >{{keyword.keyword}}</button>
                            {% else %}
                                <button type="button"  id="keywordsBtn" class="keywordsClickedBtn" >{{keyword.keyword}}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>- User Defined <br>
                    <div class="userdefinedKeywords">
                        {% for userkeyword in userkeywords %}
                            {% if userkeyword.expose == 1 %}
                                <button type="button" id="userkeywordsBtn" class="userKBtn" >{{userkeyword.keyword}}</button>
                            {% else %}
                                <button type="button"  id="userkeywordsBtn" class="userKClickedBtn" >{{userkeyword.keyword}}</button>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br><input text = "text" id="inputKeyW" placeholder="새로운 키워드 추가하기"><button type="button" class="keywordAddBtn">추가</button>
                </td></tr>
                <tr class="emptyTR"></tr>
                 <!-- Keywords -->
                 <tr><td colspan="2"><div class="metadataTR">
                    <div class="metadataTitle">INDEX</div>
                </div></td></tr>
                {% for timestamp in timestamps %}
                <tr class="metadataDetailTR">
                    <!-- 수정 필요 -->
                    <td>
                        <span type="button" class="indexTime" onclick="inputMove('{{timestamp.time}}')">{{timestamp.time}}</span>
                    </td>
                    <td>
                        <div class="indexTitle">{{timestamp.subtitle}}</div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            
            <input type="submit" value="저장">
        </div>
    </div>
    
    <script>
        var vid = document.getElementById("video");
        function inputMove(time) {
            timeStr = time.split(":");
            timeSec = Number(timeStr[0] * 3600) + Number(timeStr[1] * 60) + Number(timeStr[2]);
            vid.currentTime = timeSec;
            vid.play();
        }
    </script>


    </form>
</body>
{% endfor %}
</html>