<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>VMetaSys - SEARCH {{searchWord}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/videoList.css' %}?">
        <link rel="stylesheet" href="{% static 'css/progressBar.css' %}?">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            function searchDetail(search_type, search_detail_type) {
                document
                    .getElementById("search_detail_type")
                    .value = search_detail_type;
                document
                    .getElementById("search_type")
                    .value = search_type;
                document
                    .getElementById("form")
                    .submit();
            }

            function Change() {
                //alert( $("#selectd_category option:selected").val());
                selected = $("#selectd_category option:selected").val();
                if (selected == "choose category") 
                    return;
                else 
                    searchDetail("category", selected);
                }
            function clickCheck(target) {
                document.querySelectorAll(`input[type=checkbox]`).forEach(el => el.checked = false);
                target.checked = true;
            }
        </script>
    </head>
<body class="bodyArea">

        {% include 'core/test_header.html' %}
        {% if code == 200 %}
       
            <table class="bodyTable">
                <tr>
                    <div class= list>
                    <td class="section">
                        <p style="text-align:left; margin-left:35px;">✔ 검색결과는 {{videoIdList|length}}개 입니다</p>
                        {% for meta in videoMetaList %}
                            <!-- video id:{{ii.id_id}} <br> -->
                            {% for ii in meta.metadata %}
                                <table
                                    class="videoListTable"
                                    onclick="location.href='/test/detail/{{ii.id_id}}'">
                                    <tr>
                                        <td style="width: 300px;">
                                            <image class="VT_thumbnail" src="{{meta.thumbnail}}"></image>
                                        </td>
                                        <td>
                                            <table class="videoTable">
                                                <tr>
                                                    <td>
                                                        <div class="VT_category">{{ii.category}}</div>
                                                        <div class="VT_narrative">{{ii.narrative}}</div>
                                                        <div class="VT_method">{{ii.method}}</div>
                                                        {% comment %} <div class="rank_data">detail은 (개발중..)% 입니다</div> {% endcomment %}

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="VT_videoTitle">{{ii.title}}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {% for key in meta.keyword %}
                                                            {% if key != "" and forloop.counter < 6 %}
                                                                <div class="VT_keywords">#{{key}}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="VT_presenter">
                                                            <image
                                                                src="{% static 'img/user.png' %}"
                                                                style="height: 17px; align-items: center;"></image>
                                                            {{ii.presenter}}
                                                        </div>
                                                        {% comment %} <div class="VT_uploadedDate">{{ii.uploaddate}}</div> {% endcomment %}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>

                                        <td>
                                            <div class="wrap-circles">
                                                <div class="circle per-title">
                                                    <div class="inner">제목</div>
                                                </div>
                                                <div class="circle per-keyword">
                                                    <div class="inner">키워드</div>
                                                </div>
                                                <div class="circle per-index">
                                                    <div class="inner">인덱스</div>
                                                </div>
                                                <div class="circle per-presenter">
                                                    <div class="inner">발표자</div>
                                                </div>
                                                
                                            </div>
                                            <div class="VT_uploadedDate">{{ii.uploaddate}}</div>
                                        </td>
                                        


                                    </tr>
                                </table>
                            {% endfor %}
                        {% endfor %}
                    </td>
                </div>

                    <div class= side>
                    <td class="aside">
                        {% comment %} 
                        videoIdList = 
                        {% for id in videoIdList %}
                        {{id}}
                        {%endfor%} {% endcomment %}
                            
                            <form action="{% url 'Core:detailSearch'%}" method="POST" id="form">
                                {% csrf_token %}
                                <input type="hidden" name="videoIdList" value="{{videoIdList}}">
                                <input type="hidden" name="search_type" id="search_type">
                                <input type="hidden" name="search_detail_type" id="search_detail_type">
                                <input type="hidden" name="searchWord" value="{{searchWord}}">
                                <div class="category">
                                    <h2 class="todo-cmp__header">검색 정렬 방법</h2>
                                    
                                    <ul class="todo-cmp__list">
                                       
                                        <li>
                                            <label for="todo-02">
                                                <input id="todo-02" type="checkbox" onclick="clickCheck(this)">
                                                <span>▪ 업로드 최신 순</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="todo-03">
                                                <input id="todo-03" type="checkbox" onclick="clickCheck(this)">
                                                <span>▪ 업로드 과거 순</span>
                                            </label>
                                        </li>
                                        
                                        
                                    </ul>

                                    <h2 class="todo-cmp__header">검색 내 세부검색</h2>
                                    
                                    <ul class="todo-cmp__list">
                                        <li> CATEGORY</li>
                                        <ul class="todo-cmp__list">
                                            {% for category in categoryList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value=  {{category}}
                                                            onclick="searchDetail('category','{{category}}')">▪ {{category}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>

                                    <ul class="todo-cmp__list">
                                        <li>TYPE</li>
                                        <ul class="todo-cmp__list">
                                            {% for type in typeList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value="{{type}}"
                                                            onclick="searchDetail('narrative','{{type}}')">▪ {{type}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>

                                    <ul class="todo-cmp__list">
                                        <li>DATA</li>
                                        <ul class="todo-cmp__list">
                                            {% for data in dataList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value="{{data}}"
                                                            onclick="searchDetail('data','{{data}}')">▪ {{data}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </td>
                </div>
                </tr>
            
            </table>

        {% else %}
            <table id="errorTable">
                <tr>
                    <td>
                        <span id="errorTitle">
                            <span style="font-weight:bold; font-size:40px;">{{searchWord}}</span>
                            에 대한 검색결과가 없습니다.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="errorDetail">
                            모든 단어의 맞춤법이 정확한지 확인하거나 다른 검색어로 다시 검색을 시도해주세요.<br>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
    </body>
</html>