<!DOCTYPE html>
<html>
<head>
    <script src="../../static/js/minhwaScript.js"></script>
    <!--<script>
        var category_it = document.getElementById('category_it').addEventListener('click', function(){
            documet.write(videoIdList);
        })
    </script>-->
</head>
<body>
    <form action="{% url 'Core:category' %}" method="POST">
        {%csrf_token%}
        <input class="form-control me-2" type="search" placeholder="Search" name="searched" aria-label="Search">
        <!--<input type="hidden" name="videoMetaList" value="{{ videoMetaList.keyword }}">

        <input type="hidden" name="videoIdList" value="{{ videoIdList }}">-->
        <input type="submit" id="category_it" value="검색">
        
        <input type="button" id="category_plant" value="IT" onclick=getItcategory()/>
    
        <br><br>
        {%if searched%}
        videoIdList = {% for id in videoIdList %} {{id}} 
        {%endfor%} <br>
        videoMetaList = <br>
        {% for meta in videoMetaList %}

        {% for ii in meta.metadata %}
        video id:{{ii.id_id}} <br>
        title = {{ii.title}}<br>
        presenter = {{ii.presenter}}<br>
        category = {{ii.category}}<br>
        method = {{ii.method}}<br>
        narrative = {{ii.narrative}}<br>
        {% endfor %}
        keywords = {{meta.keyword}} <br>
        keywords = 
        {% for kk in meta.keyword %}
        {{kk}} 
        {% endfor %}<br><br>
        {% endfor %}
        {% endif %}
    </form>
    
    
</body>
</html>