{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/header.css'%}?after">
    <table id="header_table">
        <tr>
            <td id="header_upload">
                <button id="home" onclick="location.href='/test/'"><img id="logo" src="{% static 'img/logo_short.png' %}"></button>
            </td>

            <td >
                
                    <form name="search" action="{% url 'Core:searchFile' %}" method="GET" enctype="multipart/form-data">
                       
                                <td>
                                    <input class="searchInput" type="text" name="searchText" placeholder="검색어를 입력하세요.">
                                </td>
                                <td>
                                    {% csrf_token %}<input class="searchInput" type="submit" value="wpcnf">
                                </td>
                         
                    </form>
                
            </td>


            <td id="header_upload">
                <button id="upload" onclick="location.href='/test/upload/'"><img id="uploadBtnImg" src="{% static 'img/upload.png' %}"></button>
            </td>

        </tr>
    </table>
</header>