<!-- test_uploadLists.html -->

<!DOCTYPE html>
{% load static %}
<html>
<head>
        <title>VIFO - SEARCH {{searchWord}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/videoList.css' %}?after">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script>
            function searchDetail(search_type,search_detail_type){
                document.getElementById("search_detail_type").value = search_detail_type;
                document.getElementById("search_type").value = search_type;
                document.getElementById("form").submit();
            }
            
            function Change(){
                //alert( $("#selectd_category option:selected").val());
                selected = $("#selectd_category option:selected").val();
                if(selected == "choose category")
                    return;
                else
                    searchDetail("category",selected);
            }
        </script>
</head>
<body class="bodyArea">
    
    {% include 'core/test_header.html' %}
    {% if code == 200 %}
    <table class="bodyTable">
    <tr>
        <td class="aside">
            videoIdList = {% for id in videoIdList %}{{id}} {%endfor%} <br>
            <form action="{% url 'Core:detailSearch'%}" method="POST" id="form">
                {% csrf_token %}
                <input type="hidden" name="videoIdList" value="{{videoIdList}}">
                <input type="hidden" name="search_type" id="search_type">
                <input type="hidden" name="search_detail_type" id="search_detail_type">
        
                <select id=selectd_category onchange="Change()" >
                    <option selected>choose category</option>
                    <option>IT</option>
                    <option>식물</option>
                    <option>지리</option>
                    <option>경제</option>
                </select>
                <br>
                {% for category in categoryList %}
                <input type="button" value="{{category}}" onclick="searchDetail('category','{{category}}')">
                {% endfor %}
                <br>
        
                <input type="button" id="method_t" value="실습" onclick="searchDetail('method','실습')">
                <input type="button" id="method_p" value="이론" onclick="searchDetail('method','이론')">
            </form>
        </td>

        <td class="section">
            {% for meta in videoMetaList %}
            <!-- video id:{{ii.id_id}} <br> -->
            {% for ii in meta.metadata %}
            <table class="videoListTable" onClick="location.href='/test/detail/{{ii.id_id}}'">
                <tr>
                    <td style="width: 360px;">
                        <image class="VT_thumbnail" src="{{meta.thumbnail}}"></image>
                    </td>
                    <td>
                        <table class="videoTable">
                            <tr><td class="VT_videoTitle">{{ii.title}}</td></tr>
                            <tr><td>
                                <div class="VT_category">{{ii.category}}</div>
                                <div class="VT_narrative">{{ii.narrative}}</div>
                                <div class="VT_method">{{ii.method}}</div>
                            </td></tr>
                            <tr><td>
                                {% for key in meta.keyword %}
                                    {% if key != "" and forloop.counter < 6 %}
                                        <div class="VT_keywords">#{{key}}</div>
                                    {% endif %}
                                {% endfor %}
                            </td></tr>
                            <tr><td>
                                <div class="VT_presenter">
                                    <image src="{% static 'img/user.png' %}" style="height: 17px; align-items: center;"></image>
                                    {{ii.presenter}}
                                </div>
                                <div class="VT_uploadedDate">{{ii.uploaddate}}</div>
                            </td></tr>
                        </table>
                    </td>
                </tr>
            </table>
            {% endfor %}
        {% endfor %}
        </td>
    </tr>
    </table>

    {% else %}
    <table id="errorTable">
        <tr><td>
            <span id="errorTitle">
                Video Not Found.
            </span>
        </td></tr>
        <tr><td>
            <div class="errorDetail">
                아직 변환이 완료된 비디오가 없습니다. <br>
                잠시 후 다시 시도해주세요.
            </div>
        </td></tr>
    </table>
    {% endif %}
</body>
</html>