<div class="filter">
    <p class="title">Filters</p>
    <p class="title_items">Type</p>
    <ul>
      <li>
        <input id="all" name="type" type="radio"></input>
        <label for="all">All</label>
      </li>
      <li>
        <input id="website" name="type" type="radio"></input>
        <label for="website">Website</label>
      </li>
      <li>
        <input id="icon" name="type" type="radio"></input>
        <label for="icon">Icon</label>
      </li>
      <li>
        <input id="mobile" name="type" type="radio"></input>
        <label for="mobile">Mobile</label>
      </li>
      <li>
        <input id="logo" name="type" type="radio"></input>
        <label for="logo">Logo</label>
      </li>
      <li>
        <input id="print" name="type" type="radio"></input>
        <label for="print">Print</label>
      </li>
      <li>
        <input id="ui" name="type" type="radio"></input>
        <label for="ui">UI</label>
      </li>
      <li>
        <input id="illustration" name="type" type="radio"></input>
        <label for="illustration">Illustration</label>
      </li>
    </ul>
    <p class="title_items">City</p>
    <ul>
      <li>
        <input id="ny" name="city" type="radio"></input>
        <label for="ny">New York</label>
      </li>
      <li>
        <input id="va" name="city" type="radio"></input>
        <label for="va">Vancouver</label>
      </li>
      <li>
        <input id="la" name="city" type="radio"></input>
        <label for="la">Los Angeles</label>
      </li>
      <li>
        <input id="ch" name="city" type="radio"></input>
        <label for="ch">Chicago</label>
      </li>
      <li>
        <input id="se" name="city" type="radio"></input>
        <label for="se">Seattle</label>
      </li>
      <li>
        <input id="san" name="city" type="radio"></input>
        <label for="san">San Francisco</label>
      </li>
      <li>
        <input id="to" name="city" type="radio"></input>
        <label for="to">Toronto</label>
      </li>
    </ul>
    <p class="title_items">Budget</p>
    <ul>
      <li>
        <input id="small" name="bonus" type="radio"></input>
        <label for="small">100 - 300</label>
      </li>
      <li>
        <input id="medium" name="bonus" type="radio"></input>
        <label for="medium">300 - 1000</label>
      </li>
      <li>
        <input id="big" name="bonus" type="radio"></input>
        <label for="big">1000 - 3000</label>
      </li>
      <li>
        <input id="bigest" name="bonus" type="radio"></input>
        <label for="bigest">more 3000</label>
      </li>
    </ul>
  </div>

  <style>
      body {
	 background-color: #e0eafd;
}
 .filter {
	 width: 220px;
	 margin: 20px auto;
	 font-family: 'Whitney', sans-serif;
}
 .filter p {
	 padding: 0 10px;
}
 .filter p, .filter li {
	 font-weight: bold;
	 line-height: 35px;
	 font-size: 12px;
}
 .filter .title {
	 color: #fff;
	 background-color: #1ba0eb;
}
 .filter .title_items {
	 color: #94a4c3;
	 cursor: pointer;
	 position: relative;
	 background-color: #fff;
	 border-bottom: 1px solid #e4effd;
}
 .filter .title_items:hover {
	 background-color: #f4f4f4;
}
 .filter .title_items.active + ul + .title_items {
	 border-top: 1px solid #e4effd;
}
 .filter .title_items.active:after {
	 height: 5px;
	 width: 5px;
	 right: 14px;
	 margin-top: -2.5px;
}
 .filter .title_items:before, .filter .title_items:after {
	 content: "";
	 position: absolute;
	 background-color: #c3d0e8;
}
 .filter .title_items:before {
	 height: 5px;
	 width: 13px;
	 top: 50%;
	 right: 10px;
	 margin-top: -2.5px;
}
 .filter .title_items:after {
	 height: 13px;
	 width: 5px;
	 top: 50%;
	 right: 14px;
	 margin-top: -6.5px;
}
 .filter ul li {
	 height: 0;
	 color: #92a5bf;
	 background-color: #f5f8fe;
}
 .filter ul li.visible {
	 height: 36px;
}
 .filter ul li:last-child label {
	 border-bottom: none;
}
 .filter ul li:nth-child(1) label:before, .filter ul li:nth-child(1) label:after {
	 border-color: #5db6e2;
}
 .filter ul li:nth-child(2) label:before, .filter ul li:nth-child(2) label:after {
	 border-color: #c0a2f1;
}
 .filter ul li:nth-child(3) label:before, .filter ul li:nth-child(3) label:after {
	 border-color: #f7a238;
}
 .filter ul li:nth-child(4) label:before, .filter ul li:nth-child(4) label:after {
	 border-color: #f6d04d;
}
 .filter ul li:nth-child(5) label:before, .filter ul li:nth-child(5) label:after {
	 border-color: #40c9a1;
}
 .filter ul li:nth-child(6) label:before, .filter ul li:nth-child(6) label:after {
	 border-color: #ea8b8b;
}
 .filter ul li:nth-child(7) label:before, .filter ul li:nth-child(7) label:after {
	 border-color: #fe8ae0;
}
 .filter ul li:nth-child(8) label:before, .filter ul li:nth-child(8) label:after {
	 border-color: #abb6d2;
}
 .filter input[type="radio"] {
	 display: none;
}
 .filter label {
	 margin: 0 15px;
	 display: block;
	 cursor: pointer;
	 position: relative;
	 padding: 0 10px 0 25px;
	 border-bottom: 1px solid #ddebfd;
}
 .filter label:before {
	 content: "";
	 height: 10px;
	 width: 10px;
	 top: 50%;
	 left: 0;
	 margin-top: -9px;
	 position: absolute;
	 border-width: 3px;
	 border-style: solid;
}
 .filter label:after {
	 content: "";
	 top: 50%;
	 left: 5px;
	 margin-top: -4px;
	 position: absolute;
	 border-width: 3px;
	 border-style: solid;
}
 
  </style>
  