@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansTTFMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansTTFBold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core3';
    src: url("../font/SCDREAM3.OTF");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core4';
    src: url("../font/SCDREAM4.OTF");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'S-Core5';
    src: url("../font/SCDREAM5.OTF");
    font-weight: bold;
    font-style: normal;
}


* {
    font-family: 'GmarketSans';
}

.bodyArea {
    background-color: #f6f6f6;
}

header {
    padding: 20px;
    background-color: #ffffff;
}

#header_table {
    width: 100%;
}

/* #header_search {
    height: 40px;
    width: 90%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
} */

#header_upload {
    width: 10px;
    align-self: center;
    text-align: right;
}

#header_search_input_table {
    width: 100%;
}

.searchInput:focus {
    outline: none;
}

input, input:focus{
    border: none;
    border-radius: 2pt;
    box-shadow: 0 0 0 1pt grey;
    outline: none;
    transition: .1s;
}

.searchInput:focus {
    box-shadow: 0 0 3pt 2pt #08355e;
}
 

.searchInput[type=text] {
    font-family: 'S-Core4';
    width: 100%;
    vertical-align: middle;
    margin-left: 20px;
    /* background-color: darkblue; */
    
}

.searchInput[type=submit] {
    
    
}

#logo {
    height: 30px;
    margin-right: 20px;
}

#uploadBtnImg {
    height: 30px;
}

#upload {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

#home {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}