@font-face {
    font-family : 'GmarketSans';
    src : url('../font/GmarketSansTTFMedium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family : 'GmarketSans';
    src : url('../font/GmarketSansTTFBold.ttf');
    font-weight: bold;
    font-style: normal;
}

*{
    font-family: 'GmarketSans';
}

.bodyArea {
    background-color: #f6f6f6;
}

header {
    padding: 20px;
    background-color: #ffffff;
}

#header_table {
    width: 100%;
}

#header_search{
    height:40px;
    width:90%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    align-items: center;
}

#header_upload{
    width:100px;
    align-self: center;
    text-align: right;
}

#header_search_input_table{
    width: 100%;
}

.searchInput:focus {
    outline: none;
}

.searchInput[type=text] {
    width:100%;
    height:40px;
    margin-left:20px;
    background-color:transparent;
    border: none;
}

.searchInput[type=submit] {
    height: auto;
    margin: auto;
    text-align: right;
    background-color:transparent;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    outline: none;
    border: none;
}

#logo {
    height: 30px;
}

#uploadBtnImg{
    height: 30px;
}

#upload {
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

#home {
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
}