@font-face {
    font-family: 'GmarketSans';
    src: url("../font/GmarketSansTTFMedium.ttf");
}

* {
    font-family: 'GmarketSans';
}

.keywordBox {
    position: relative;
    display: inline-block;

    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: ffffff;

}