.videoListTable {
    width: 100%;
    margin: 0px 0px 10px 20px;
    border-radius: 20px;
    background-color: #eeeeee;


}

.videoListTable:hover {
    background-color: #dedede;
    cursor: pointer;
}


.videoTable {
    width: 100%;
    /* min-width: 450px; */
    margin: 10px 10px;
    /* padding: 10px 0px; */


}

.VT_thumbnail {
    height: 180px;
    margin: 20px;
    display: inline-block;
}

.VT_videoTitle {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'GmarketSans';
    font-weight: bold;
    font-size: 30px;
}

.VT_category {
    width: fit-content;
    height: 25px;
    font-size: 13px;
    padding: 0 10px;
    display: inline-block;
    background-color: rgb(80, 37, 32);
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 220%;
}

.VT_narrative {
    width: fit-content;
    height: 25px;
    font-size: 13px;
    padding: 0 10px;
    display: inline-block;
    background-color: rgb(30, 91, 52);
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 220%;

}

.VT_method {
    width: fit-content;
    height: 25px;
    font-size: 13px;
    padding: 0 10px;
    display: inline-block;
    background-color: rgb(50, 46, 93);
    border-radius: 20px;
    color: white;
    text-align: center;
    line-height: 220%;

}

.VT_keywords {
    height: auto;
    margin-top: 10px;

    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
}

.VT_presenter {
    width: 50%;
    min-width: 250px;
    font-size: 13px;
    display: inline-block;
}

.VT_uploadedDate {
    width: 40%;
    min-width: 150px;
    height: 35px;
    margin-top: 10px;
    font-size: 13px;
    display: inline-block;
    text-align: right;
}


/* for errMsg : notFound(404) */
#errorTable {
    width: 600px;
    height: 150px;
    margin: 200px auto;
}

#errorTitle {
    font-size: 35px;
}

#errorDetail {
    font-size: 20px;

}

/*section*/
.bodyTable {
    width: 100%;
    height: 100%;
}

.aside {

    margin: 55px 30px 50px 50px;
    background-color: #eeeeee;
    border-radius: 20px;
    padding: 0px 0px 10px 10px;
    float: right;
    min-width: 300px;
    width: 300px;


}

.section {
    padding-top: 5px;
    padding-left: 10px;
    width: 80%;
    height: auto;
    min-width: 500px;
    vertical-align: top;
}







@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -20px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: #333;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*http://colorzilla.com/gradient-editor */
    background: #fda231;
    background: -moz-linear-gradient(45deg, #fda231 0%, #fbb731 60%, #fdca31 100%);
    background: -webkit-linear-gradient(45deg, #fda231 0%, #fbb731 60%, #fdca31 100%);
    background: linear-gradient(45deg, #fda231 0%, #fbb731 60%, #fdca31 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fda231", endColorstr="#fdca31", GradientType=1);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.todo-cmp {
    background: #ffffff;
    color: #497081;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.15);
    width: 180px;
}

.todo-cmp__header {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.todo-cmp__header h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 4px auto;
    padding: 0;
}

.todo-cmp__header p {
    padding: 0 0 5px;
    margin: 4px auto;
    font-size: 0.8rem;
}

.todo-cmp__list {
    list-style: none;
    padding: 0 15px;
}

.todo-cmp__list li {
    padding: 5px 0 5px;
    margin: 0;
    text-align: left;
    width: 100%;
}

.todo-cmp__list li label {
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    display: block;
}

.todo-cmp__list li label input {
    float: right;
    opacity: 0;
}

.todo-cmp__list li label span {
    position: relative;
    display: block;
    transition: all 550ms ease-in-out;
}

.todo-cmp__list li label input+span::after {
    content: "";
    display: block;
    border: 1px solid #497081;
    border-radius: 13px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 10;
    transition: all 550ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* https://matthewlein.com/tools/ceaser */
}

.todo-cmp__list li label input+span::before {
    content: "✔";
    display: block;
    font-size: 22px;
    height: 13px;
    width: 13px;
    position: absolute;
    right: -2px;
    top: -8px;
    z-index: 10;
    opacity: 0;
}

.todo-cmp__list li label input:checked+span {
    color: #ccc;
    transition: all 550ms ease-in-out;
}

.todo-cmp__list li label input:checked+span::after {
    opacity: 0;
    height: 17px;
    width: 17px;
    top: -2px;
    right: -2px;
}

.todo-cmp__list li label input:checked+span::before {
    opacity: 1;
    transition: all 550ms ease-in-out;
}