<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<html>
    <head>
        <title>VMeta</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoDetail.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tab3.css') }}">   
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/download.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip-utils.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip-utils-ie.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script>

        </script>
    </head>
    <body>
        <input type="file" name="inputFile" id="inputFile">
        <br>
        <pre id="output"></pre>
      
        <script type="text/javascript">
          document.getElementById('inputFile').addEventListener('change', function() {
            var file = new FileReader();
            file.onload = () => {
              document.getElementById('output').textContent = file.result;
            }
            file.readAsText(this.files[0]);
          });
        </script>
    </body>
    <!-- <body class="bodyArea" onload="first_load();">
        
    </body> -->
</html>