<!DOCTYPE html>
<html>
    <head>
        {% for metadata in metadatas %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/videoDetail.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/csstab3.css') }}">
            <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script type="text/javascript">
              
                function writeLog(script) {
                    var script = '{{scripts}};'
                    var os = navigator.userAgent;
                    var videoPath = '{{videoaddr}};';
                    var videoID = '{{metadata.id}}';
                    console.log(videoPath);
                    

                    var logPath = videoPath.split('Video');
                    var logPath2 = logPath[0] + "\Log";
                    var filename = logPath[1].split('.');
                    var logfilename = filename[0]+ ".txt";
                    var logAddr = logPath2 + logfilename;
                    console.log(logPath2);
                    console.log(logAddr);

                    var searchContent = document.getElementById("searchContent").value;
                    var data = new Object();
                    data.searchContent = searchContent;
                
                    const request = new XMLHttpRequest();
                    request.open('Post', `/detail/${videoID}/ProcessKeywordinfo/${JSON.stringify(searchContent)}`);
                    request.send();

                }   

                
            </script>
            <title>VMeta - {{metadata.title}}
            </title>
            <meta charset="UTF-8">

        </head>
        {% include 'header.html' %}
        <body class="bodyArea" onload="loadImg('{{ metadata.title }}'); onloads();">
            <div class="divParent">
                <!-- Post content-->
                <div class="detailHeader">
                    <!-- Preview image figure-->

                    <video
                        height="450"
                        class="videoPlayer"
                        id="video"
                        src="{{ url_for('detail.data', filepath = videoaddr) }}"
                        controls="controls"
                        type="video/mp4" 
                        autoplay muted>
                    </video>
                    <!--<div>result : {{Metadata}}</div>-->

                    <div class="box">
                        <div class="left">
                            <!-- 키워드 3개만 수정@@@@@@@@@@@-->
                            <div class="keyTag">
                                {% for keyword in keywords %}
                                    {% if keyword != "" and loop.index < 4 %}
                                        #{{keyword.keyword}}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Post title-->
                            <div class="videoTitle">{{ metadata.title }}</div>
                            <!-- Post meta content-->
                            <div class="videoUploadDate">{{metadata.uploaddate}}</div>
                            <div class="videoPresenter">
                                by
                                {{metadata.presenter}}</div>

                        </div>

                    </div>

                </div>
                <!-- end of detail Header-->

                <!-- @@@@@@@@@@@@@@@@@@@@@@2여기부터 왼쪽창 -->
                <div class="detailMetadata">
                    <div class="tabmenu">
                        <ul>
                            <!-- @@@@@@@@@@첫번째 탭 키워드/목차 -->
                            <li id="tab1" class="btnCon">
                                <a class="btn first" href="#tab1">Metadata</a>
                                <div class="tabCon">
                                    <table class="metadataTable">

                                        <!--키워드 -->
                                        <tr>
                                            <td colspan="2">
                                                <div class="metadataTR">
                                                    <div class="metadataTitle2">CATEGORY</div>
                                                    <div class="metadataContent">{{metadata.category}}</div>

                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="metadataTR">
                                                    <div class="metadataTitle2">NARRATIVE</div>
                                                    <div class="metadataContent">{{metadata.narrative}}</div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="metadataTR">
                                                    <div class="metadataTitle2">METHOD</div>
                                                    <div class="metadataContent">{{metadata.method}}</div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">
                                                <div class="metadataTR">
                                                    <div class="metadataTitle2">KEYWORDS</div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr class="metadataDetailTR">
                                            <td colspan="2" class="metadataKeywordTD">
                                                <div class="key">
                                                    {% for keyword in keywords %}
                                                        <button class="keywordsBtn" style='cursor:default;'>{{keyword.keyword}}</button>
                                                    {% endfor %}
                                                </div>

                                            </td>
                                        </tr>
                                        <tr class="emptyTR"></tr>
                                    </table>

                                </div>
                            </li>


                            <!-- @@@@@@@@@두번째 탭 스크립트 -->
                            <li id="tab2" class="btnCon">
                                <a class="btn second" href="#tab2" onclick="searchPost({{scripts}});">Script</a>
                                <div class="tabCon">

                                    <!-- detail search : only for detail -->
                                    <div class="innerSearch">
                                        <input
                                            type="text"
                                            placeholder="Search in &quot;{{ metadata.title }}&quot;"
                                            name="searchScriptKeyword"
                                            id="searchContent"></input>
                                        <input
                                            type="submit"
                                            class="searchBtn"
                                            
                                            value=""
                                            onclick="searchPost({{scripts}});writeLog();"
                                            ></input>
                                    </div>

                                    <div class="searchScroll">
                                        <table id="searchResArea" class="" ></table>
                                    </div>
                                </div>
                            </li>

                            
                             <!-- @@@@@@@@@세번째 탭 목차 -->
                             <li id="tab3" class="btnCon">
                                <a class="btn thrid" href="#tab3">Index</a>
                                <div class="tabCon">

                                    <div class="searchScroll2">

                                        <!-- 목차 -->
                                        <table class="metadataTable">
                                            <tr>
                                                <td colspan="2">
                                                    <div class="metadataTR">
                                                        <div class="metadataTitle2">INDEX</div>
                                                    </div>
                                                </td>

                                            </tr>
                                            {% for timestamp in timestamps %}

                                                <tr class="metadataDetailTR">
                                                    <!-- 수정 필요 -->

                                                    <td colspan="2" class="metadataKeywordTD">

                                                        <button class="indexTime2" onclick="inputMove('{{timestamp.time}}')">{{timestamp.time}}</button>
                                                        <div class="indexTitle2">{{timestamp.subtitle}}</div>

                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/download.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip.min.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip-utils.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/jszip/jszip-utils-ie.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/videoAction.js') }}"></script>
            
            <script>
                location.href = "#tab1";
            </script>
        </body>

    </div>

{% endfor %}

</html>