<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - SEARCH {{searchWord}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        
        <link href="../static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <script>
            function first_load(){
                new Chart(document.getElementById("category-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{category|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#E4D192","#FBA1A1","#4CACBC"],
                            data: {{category_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,      // width, height 지정 위해서 필수
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'CATEGORY RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("narrative-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{narrative|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#3e95cd", "#8e5ea2"],
                            data: {{narrative_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'NARRATIVE RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("method-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{method|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#c45850","#E4D192"],
                            data: {{method_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'METHOD RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: {{upload_size|safe}},
                        datasets: [{ 
                            data: {{upload_time|safe}},
                            //label: "Europe",
                            borderColor: "#8e5ea2",
                            fill: false
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
                        text: '동영상 크기(MB) 당 업로드 시간(s)'
                        },
                        legend: {display: false}    // label 안보이게
                    }
                    });

                    new Chart(document.getElementById("search-chart"), {
                    type: 'line',
                    data: {
                        labels: {{totalWord|safe}},
                        datasets: [{ 
                            data: {{totalWord_data|safe}},
                            label: "전체 검색 단어",
            
                            
                            lineTension: 0.3,
                            backgroundColor: "rgba(2,117,216,0.2)",
                            borderColor: "rgba(2,117,216,1)",
                            pointRadius: 5,
                            pointBackgroundColor: "rgba(2,117,216,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            
                        }]
                    },
                    options: {
                        
                        responsive: false,
                        title: {
                        display: true,
                        
                        },
                        legend: {display: false}    // label 안보이게
                    }
                    });

                    new Chart(document.getElementById("title-search-chart"), {
                    type: 'line',
                    data: {
                        labels: {{titleWord|safe}},
                        datasets: [{ 
                            data: {{titleWord_data|safe}},
                            label: "제목 검색 단어",
                            borderColor: "#3cba9f",
                            fill: false
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
                        text: '제목 검색 단어 빈도수'
                        },
                        legend: {display: false}    // label 안보이게
                    }
                    });

                    new Chart(document.getElementById("presenter-search-chart"), {
                    type: 'line',
                    data: {
                        labels: {{presenterWord|safe}},
                        datasets: [{ 
                            data: {{presenterWord_data|safe}},
                            label: "발표자 검색 단어",
                            borderColor: "#e8c3b9",
                            fill: false
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
                        text: '발표자 검색 단어 빈도수'
                        },
                        legend: {display: false}    // label 안보이게
                    }
                    });

                    new Chart(document.getElementById("keyword-search-chart"), {
                    type: 'line',
                    data: {
                        labels: {{keyWord|safe}},
                        datasets: [{ 
                            data: {{keyWord_data|safe}},
                            label: "키워드 검색 단어",
                            borderColor: "#c45850",
                            fill: false
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
                        text: '키워드 검색 단어 빈도수'
                        },
                        legend: {display: false}    // label 안보이게
                    }
                    });

                    // new Chart(document.getElementById("detailSearch-chart"), {
                    // type: 'line',
                    // data: {
                    //     labels: ["운영", "계층", "라즈베리", "모바일", "황", "황기", "볼트", "배터리", "마이너스", "파이"],
                    //     datasets: [{ 
                    //         data: [50,68,43,35,10,2,25,88,65,72],
                    //         label: "제목",
                    //         borderColor: "#3cba9f",
                    //         fill: false
                    //     },{ 
                    //         data: [80,71,55,69,30,12,67,84,35,45],
                    //         label: "키워드",
                    //         borderColor: "#c45850",
                    //         fill: false
                    //     },{ 
                    //         data: [20,11,34,65,85,72,32,9,1,24],
                    //         label: "발표자",
                    //         borderColor: "#e8c3b9",
                    //         fill: false
                    //     }]
                    // },
                    // options: {
                    //     responsive: false,
                    //     title: {
                    //     display: true,
                    //     text: '세부 검색 단어 빈도수'
                    //     },
                    //     legend: {display: false}    // label 안보이게
                    // }
                    // });
            }
            
            
        </script>
    </head>
    <body class="bodyArea sb-nav-fixed" onload="first_load();">
        
        {% if code == 200 %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="./">Administration</a>
           
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            
        </nav>

        <div>
            <main>
                <div class="container-fluid px-4 pt-5">
                    <h1 class="mt-4">Charts</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Charts</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            관리자 페이지 입니다.
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            전체 검색 단어 빈도수
                        </div>
                        
                        <canvas id="search-chart" width="1600px" height="400"></canvas>
                        

                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-bar me-1"></i>
                                    Bar Chart Example
                                </div>
                                <div class="card-body"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    카테고리
                                </div>
                                <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
                
        </div>
        

        <canvas id="category-chart" width="500" height="500"></canvas>
        <canvas id="narrative-chart" width="400" height="400"></canvas>
        <canvas id="method-chart" width="400" height="400"></canvas>
<br><br>
        <canvas id="line-chart" width="500" height="400"></canvas>

        <canvas id="search-chart" width="500" height="400"></canvas>
        <canvas id="title-search-chart" width="500" height="400"></canvas>
        <canvas id="presenter-search-chart" width="500" height="400"></canvas>
        <canvas id="keyword-search-chart" width="500" height="400"></canvas>
        

        {% endif %}

        
    </body>
</html>