<!--

performance_charts.html 
- 특정 id(pk)값을 갖는 영상의 모니터링 페이지입니다.
- 몇몇 메타데이터 정보와 Script 검색어들을 나타냅니다.

- redirect with : '/performance/detail/<int:pk>'
- linked with : views/performanc_views.py

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Charts - VMeta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/performance.css') }}">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <script>
        function first_load() {

        new Chart(document.getElementById("bar-chart"), {
            type: 'horizontalBar',
            data: {
                labels: {{ scriptsWord| safe}},
                datasets: [
                    {
                        label: "스크립트 검색 단어",
                        backgroundColor: "#3e95cd",
                        data: {{ scriptsCnt| safe}}
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: '스크립트 검색 단어 빈도수'
                },
                scales : {
                    xAxes : [{
                        ticks : {
                            beginAtZero : true, // 0부터 시작하게 합니다.
                            stepSize: 1   // 1 씩 증가하도록 설정합니다.
                        }
                    }]
                }
            }
        });
        }



    </script>

</head>

<body class="sb-nav-fixed" onload="first_load();">

    {% if code == 200 %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/performance">Monitoring Page</a>
            <div id="homeBtn"><img id="home" src="{{ url_for('static', filename='img/home.png') }}" onclick="location.href='/'"></div>
        </nav>

        <div id = "layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/performance">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Data Overview
                            </a>
                            
                            <ul class="menuLists">
                                <li onclick="location.href='/performance/search'"> Search </li>
                                <li onclick="location.href='/performance/metadata'"> Metadata </li>
                                <li onclick="location.href='/performance/videoviews'"> Video views </li>
                            </ul>
                            
                            <a class="nav-link" href='/performance/category'>
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Video Details
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">© 2022. HSTACK</div>
                        all rights reserved.
                    </div>
                </nav>
            </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">{{metadatas.title}}</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item">by {{metadatas.presenter}}</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Metadata
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="dataTable-table">
                                <thead>
                                    <tr>
                                        <th style="color:black;">title</th>
                                        <th style="color:black;">presenter</th>
                                        <th style="color:black;">category</th>
                                        <th style="color:black;">narrative</th>
                                        <th style="color:black;">presentation</th>
                                        <th style="color:black;">videoSize(byte)</th>
                                        <th style="color:black;">videoLength</th>
                                        <th style="color:black;">videoFrame</th>
                                        <th style="color:black;">UploadDate</th>
                                        <th style="color:black;">views</th>
                                        <th style="color:black;">avgViewTime(sec)</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>{{metadatas.title}}</td>
                                        <td>{{metadatas.presenter}}</td>
                                        <td>{{metadatas.category}}</td>
                                        <td>{{metadatas.narrative}}</td>
                                        <td>{{metadatas.presentation}}</td>
                                        <td>{{metadatas.videoSize}}</td>
                                        <td>{{metadatas.videoLength}}</td>
                                        <td>{{metadatas.videoFrame}}</td>
                                        <td>{{metadatas.uploadDate}}</td>
                                        <td>{{metadatas.view}}</td>
                                        <td>{{metadatas.avgTime}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-area me-1"></i>
                            Script Search
                        </div>
                        <div class="card-body">
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                            <canvas id="bar-chart" width="100%" height="30"></canvas>
                            
                        </div>
                    </div>
            </main>
        </div>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>