<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - Monitoring Page</title>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/performance.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <script>
            function date(){
                let today = new Date();
                document.write("Uploaded " + today);
            }
        </script>
    </head>
    <body class="bodyArea sb-nav-fixed" onload="first_load();">
        
        {% if code == 200 %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/performance">Monitoring Page</a>
            <div id="homeBtn"><img id="home" src="{{ url_for('static', filename='img/home.png') }}" onclick="location.href='/'"></div>
        </nav>

        <div id = "layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/performance">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Data Overview
                            </a>
                            
                            <ul class="menuLists">
                                <li onclick="location.href='/performance/search'"> Search </li>
                                <li onclick="location.href='/performance/metadata'"> Metadata </li>
                                <li onclick="location.href='/performance/videoviews'"> Video views </li>
                            </ul>
                            
                            <a class="nav-link" href='/performance/category'>
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Video Details
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">© 2022. HSTACK</div>
                        all rights reserved.
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="px-4  pt-5">Video Details</h1>
                        <ol class="breadcrumb px-4" >
                            <li class="breadcrumb-item active">영상 세부 정보 조회</li>
                        </ol>

                        <br>

                        <div class="btnContainer">
                            {% for c in category %}
                            <div class="categoryBtn" onclick="location.href='/performance/category/{{c.key}}'">
                                <div class="categoryBtnKey">{{c.key}}</div>
                                <div class="categoryBtnValue"><b>{{c.value}}</b> 개의 동영상</div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div> <!--end of container-->
                </main> <!--end of main-->
            </div>
        </div>
        

<br><br>
            

        {% endif %}

        <script src="../static/assets/demo/chart-area-demo.js"></script>
    </body>

    
</html>