<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - Monitoring Page</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/performance.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <script>
            function date(){
                let today = new Date();
                document.write("Uploaded " + today);
            }

            function first_load(){
                new Chart(document.getElementById("video-time-chart"), {
                    type: 'bar',
                    data: {
                        labels: {{idTime|safe}},
                        datasets: [{ 
                            data: {{idTime_data|safe}},
                            label: "평균 재생 시간 (sec)",
                            borderColor: "#c45850",
                            backgroundColor: [
                            '#24460B',
                            '#315512',
                            '#44691D',
                            '#587E2B',
                            '#6f933b',
                            '#9EBE68',
                            '#C4DE8E',
                            '#E3F4B9',
                            '#F2F9DB'
                            ],
                            fill: false
                        }]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
                        text: '영상별 평균 재생 시간'
                        },
                        legend: {display: false},    // label 안보이게
                    }
                    });
            }
        </script>
    </head>
    <body class="bodyArea sb-nav-fixed" onload="first_load();">
        
        {% if code == 200 %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href='/performance'>Monitoring Page</a>

        </nav>

        <div id = "layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/performance">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Data Overview
                            </a>
                            
                            <ul class="menuLists">
                                <li onclick="location.href='/performance/search'"> Search </li>
                                <li onclick="location.href='/performance/metadata'"> Metadata </li>
                                <li onclick="location.href='/performance/videoviews'"> Video views </li>
                            </ul>
                            
                            <a class="nav-link" href='/performance/category'>
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Video Details
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">© 2022. HSTACK</div>
                        all rights reserved.
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                            <h1 class="px-4  pt-5">Video View</h1>
                            <ol class="breadcrumb px-4" >
                                <li class="breadcrumb-item active">평균 재생 시간</li>
                                <li class="breadcrumb-item active">조회수</li>
                            </ol>

                            <br>

                            <div class="card card-raised h-100 mt-4">
                                <div class="card-header px-4 py-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="me-4">
                                            <h2 class="card-title mb-0 mb-1">영상별 평균 재생 시간</h2>
                                            <div class="card-subtitle">Average playback time (per video)</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="card-body">
                                    <canvas class="my-3" id="video-time-chart" width="1000" height="300"></canvas>
                                </div>
                            </div>
                        
    
                        
                            <div class="card card-raised mt-4">
                                <div class="card-header py-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="me-4">
                                            <h2 class="card-title mb-0 mb-1">
                                                영상 조회수</h2>
                                            <div class="card-subtitle">Ranking of video views</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    
                                        <table id="datatablesSimple">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%;">Rank</th>
                                                    <th>ID</th>
                                                    <th>Title</th>
                                                    <th>Presenter</th>
                                                    <th>Views</th>
                                                    <th>Uploaded Date</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                {% for video in idView %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td>{{video.id}}</td>
                                                    <td>{{video.title}}</td>
                                                    <td>{{video.presenter}}</td>
                                                    <td>{{video.views}}</td>
                                                    <td>{{video.uploadDate}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                
                                </div>
                            </div> 

                    </div> <!--end of container-->
                </main> <!--end of main-->
            </div>
        </div>
        

<br><br>
        {% endif %}
        <link rel="javascript" href="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}">
    </body>

    
</html>
