<!--

performance_metadata.html 
- 모니터링 페이지 중 Data Overview의 metadata를 나타냅니다.
- 시스템 DB에 저장된 영상들의 Category, narrative, presentation 비율과,
- 영상 크기당 업로드 시간 그래프를 나타냅니다.

- redirect with : '/performance/metadata'
- linked with : views/performanc_views.py

-->

<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - Monitoring Page</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/performance.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <script>
            function date(){
                let today = new Date();
                document.write("Uploaded " + today);
            }

            function first_load(){
                new Chart(document.getElementById("category-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{category|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ['#f44336',
                            '#e81e63',
                            '#9c27b0',
                            '#673ab7',
                            '#3f51b5',
                            '#2196f3',
                            '#03a9f4',
                            '#00bcd4',
                            '#009688',
                            '#4caf50',
                            '#8bc34a',
                            '#cddc39',
                            '#ffeb3b',
                            '#ffc107',
                            '#ff9800',
                            '#ff5722',
                            '#795548',
                            '#9e9e9e',
                            '#607d8b',
                            '#000000'],
                            data: {{category_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,      // width, height 지정 위해서 필수
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'CATEGORY RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("narrative-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{narrative|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#246793", "#52B9DB"],
                            data: {{narrative_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'NARRATIVE RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("method-chart"), {
                    type: 'pie',
                    data: {
                        labels: {{method|safe}},
                        datasets: [{
                            label: "Population (millions)",
                            backgroundColor: ["#D6653B","#FBAF7C"],
                            data: {{method_data|safe}}
                        }]
                    },
                    options: {
                        responsive: false,
                        maintainAspectRatio: false,
                        cutoutPercentage: 50,
                        title: {
                            display: true,
                            text: 'PRSEENTATION RATIO'
                        },
                        legend: {
                            display: true,
                            //position: 'left',
                            labels: {
                                //fontSize: 12,
                                //fontFamily: 'sans-serif',
                                //fontColor: '#000000',
                                //fontStyle: 'bold'
                            }
                        }
                    }
                });

                new Chart(document.getElementById("line-chart"), {
                    type: 'line',
                    data: {
                        labels: {{upload_time|safe}},
                        datasets: [{ 
                            data: {{upload_size|safe}},
                            label: "업로드 소요 시간 (sec)",
                            borderColor: "#8e5ea2",
                            fill: false
                        }
                        ]
                    },
                    options: {
                        responsive: false,
                        title: {
                        display: true,
        
                        },
                        legend: {display: false},    // label 안보이게
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '시간(sec)'
                                }
                            }],
                            xAxes: [{
                                scaleLabel: {
                                    display: true,
                                    alien : screenLeft,
                                    labelString: '영상 크기 (MB)'
                                }
                            }]
                        }
                    }
                    });
            }
        </script>
    </head>
    <body class="bodyArea sb-nav-fixed" onload="first_load();">
        
        {% if code == 200 %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href='/performance'>Monitoring Page</a>
            <div id="homeBtn"><img id="home" src="{{ url_for('static', filename='img/home.png') }}" onclick="location.href='/'"></div>
        </nav>

        <div id = "layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <a class="nav-link" href="/performance">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Data Overview
                            </a>
                            
                            <ul class="menuLists">
                                <li onclick="location.href='/performance/search'"> Search </li>
                                <li onclick="location.href='/performance/metadata'"> Metadata </li>
                                <li onclick="location.href='/performance/videoviews'"> Video views </li>
                            </ul>
                            
                            <a class="nav-link" href='/performance/category'>
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Video Details
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">© 2022. HSTACK</div>
                        all rights reserved.
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="px-4 pt-5">Metadata</h1>
                        <ol class="breadcrumb px-4 pb-2" >
                            <li class="breadcrumb-item active">비디오 분류</li>
                            <li class="breadcrumb-item active">업로드 시간</li>
                        </ol>

                        <div class="row mt-4">
                            <div class="col">
                                <div class="card card-raised h-100">
                                    <div class="card-header px-4 py-3">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="me-4">
                                                <h2 class="card-title mb-0 mb-1">
                                                    비디오 분류</h2>
                                                <div class="card-subtitle">category / narrative / presentation</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body my-4">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-4"><canvas id="category-chart" style="width:420px; height:420px;"></canvas></div>
                                            <div class="col-lg-4"><canvas id="narrative-chart" style="width:420px; height:420px;"></canvas></div>
                                            <div class="col-lg-4"><canvas id="method-chart" style="width:420px; height:420px;"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col">
                                    <div class="card card-raised h-100">
                                        <div class="card-header px-4 py-3">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="me-4">
                                                    <h2 class="card-title mb-0 mb-1">
                                                        영상 크기 당 업로드 시간</h2>
                                                    <div class="card-subtitle">Upload time(sec) per video size(MB)</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="d-flex justify-content-around">
                                                <canvas id="line-chart" width="1300px" height="500px"></canvas>
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!--end of container-->
                </main> <!--end of main-->
            </div>
        </div>
        

<br><br>
        {% endif %}
        <link rel="javascript" href="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}">
    </body>

    
</html>
