<!--

search.html 
- 검색 결과를 제공합니다.
- 결과를 필터링한 값을 제공합니다.

- redirect with : '/search/<string:searchWord>'
- linked with : views/search_views.py

-->

<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - SEARCH {{searchWord}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/progressBar.css') }}">
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
        <script>
            function resetDetail() {
                document.getElementById('category').value = '';
                document.getElementById('method').value = '';
                document.getElementById('narrative').value = '';
                document.getElementById("form").submit();
            }
            function searchDetail(search_type, search_detail_type) {
                document.getElementById(search_type).value = search_detail_type;
                document.getElementById("form").submit();
            }
            function Change() {
                //alert( $("#selectd_category option:selected").val());
                selected = $("#selectd_category option:selected").val();
                if (selected == "choose category") 
                    return;
                else 
                    searchDetail("category", selected);
            }
            function clickCheck(target) {
                document.querySelectorAll(`input[type=checkbox]`).forEach(el => el.checked = false);
                target.checked = true;
            }
            function updateSearchText(){
                onloads();
                var searchText = document.getElementById("searchShownInput");
                var word = '{{searchWord}}';
                searchText.value = word;
            }
        </script>
    </head>
<body class="bodyArea" onload="updateSearchText()">

        {% include 'header.html' %}
        {% if code == 200 %}
       
            <table class="bodyTable">
             
                <tr>
                    <td class="section">    

                        <p style="text-align:left; margin-left:35px;">✔ 검색결과는 {{videoIdList|length}}개 입니다.</p>
                        
                        {% if category != '' or narrative != '' or method != '' %}
                        <p style="text-align:left; margin-left:35px;">✔ FILTER &nbsp;
                        {% if category != '' %} <span class="VT_category"> {{category}} </span> {% endif %}
                        {% if narrative != '' %} <span class="VT_narrative">{{narrative}}</span> {% endif %}
                        {% if method != '' %} <span class="VT_method">{{method}}</span> {% endif %}
                        <span onclick="resetDetail()" id="resetBtn">RESET</span>
                        </p>
                        {% endif %}
                        
                        {% for meta in videoMetaList %}
                            {% for ii in meta.metadata %}
                            <table
                            class="videoListTable"
                            onclick="location.href='/detail/{{ii.id}}'">
                            <tr>
                                <td style="width: 300px;">
                                    <image class="VT_thumbnail" src="{{ url_for('search.data', filepath = meta.thumbnail) }}"></image>
                                </td>
                                <td>
                                    <table class="videoTable">
                                        <tr>
                                            <td>
                                                <div class="VT_category">{{ii.category}}</div>
                                                <div class="VT_narrative">{{ii.narrative}}</div>
                                                <div class="VT_method">{{ii.presentation}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="VT_videoTitle">{{ii.title}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {% for key in meta.keyword %}
                                                    {% if key != "" and loop.index < 6 %}
                                                        <div class="VT_keywords">#{{key}}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="VT_presenter">
                                                    <image
                                                        src="{{ url_for('static', filename='img/user.png') }}"
                                                        style="height: 17px; align-items: center;"></image>
                                                    {{ii.presenter}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                                <td>
                                    {% for rank in rankData %}
                                        {% if rank.id == meta.id %}
                                        <div class="wrap-circles">
                                            <div class="circle per-title" id="circleTitle{{rank.id}}">
                                                <div class="inner">제목</div>
                                            </div>
                                            <div class="circle per-keyword" id="circleKeyword{{rank.id}}">
                                                <div class="inner">키워드</div>
                                            </div>
                                            <div class="circle per-category" id="circleCategory{{rank.id}}">
                                                <div class="inner">카테고리</div>
                                            </div>
                                            <div class="circle per-presenter" id="circlePresenter{{rank.id}}">
                                                <div class="inner">발표자</div>
                                            </div>
                                            <div class="total-rank">"{{searchWord}}" 와 <span class="total-perc">{{rank.total}}%</span> 일치</div>
                                        </div>
                                        <script>
                                            document.getElementById("circleTitle{{rank.id}}").style.backgroundImage = "conic-gradient(#22629d {{rank.title}}%, #dedede 0)";
                                            document.getElementById("circleTitle{{rank.id}}").title = '제목 {{rank.title}}% 일치'
                                            document.getElementById("circleKeyword{{rank.id}}").style.backgroundImage = "conic-gradient(#5b9d22 {{rank.keyword}}%, #dedede 0)";
                                            document.getElementById("circleKeyword{{rank.id}}").title = '키워드 {{rank.keyword}}% 일치'
                                            document.getElementById("circleCategory{{rank.id}}").style.backgroundImage = "conic-gradient(#c45850 {{rank.category}}%, #dedede 0)";
                                            document.getElementById("circleCategory{{rank.id}}").title = '카테고리 {{rank.category}}% 일치'
                                            document.getElementById("circlePresenter{{rank.id}}").style.backgroundImage = "conic-gradient(#9d6e22 {{rank.presenter}}%, #dedede 0)";
                                            document.getElementById("circlePresenter{{rank.id}}").title = '발표자 {{rank.presenter}}% 일치'
                                        </script>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="VT_uploadedDate">{{ii.uploaddate}}</div>
                                </td>
                            </tr>
                        </table>
                        {% endfor %}
                        {% endfor %}
                    </td>
               
                    <td class="aside">
                            
                            <form action='/search' method="GET" id="form">
                                <input type="hidden" name="isDetail" value="True">
                                <input type="hidden" name="category" id="category" value="{{category}}">
                                <input type="hidden" name="method" id="method" value="{{method}}">
                                <input type="hidden" name="narrative" id="narrative" value="{{narrative}}">
                                <input type="hidden" name="searchText" value="{{searchWord}}">
                                <input type="hidden" name="searchWordTitle" value="{{searchWordDetailTitle}}">
                                <input type="hidden" name="searchWordKeyword" value="{{searchWordDetailKeyword}}">
                                <input type="hidden" name="searchWordPresenter" value="{{searchWordDetailPresenter}}">
                                <div class="category">

                                    <h2 class="todo-cmp__header">검색 내 세부검색</h2>
                                    
                                    <ul class="todo-cmp__list">
                                        <li> CATEGORY</li>
                                        <ul class="todo-cmp__list">
                                            {% for category in categoryList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value=  {{category}}
                                                            onclick="searchDetail('category','{{category}}')">▪ {{category}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>

                                    <ul class="todo-cmp__list">
                                        <li>TYPE</li>
                                        <ul class="todo-cmp__list">
                                            {% for type in typeList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value="{{type}}"
                                                            onclick="searchDetail('narrative','{{type}}')">▪ {{type}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>

                                    <ul class="todo-cmp__list">
                                        <li>PRESENTATION</li>
                                        <ul class="todo-cmp__list">
                                            {% for data in dataList %}
                                                <li>
                                                    <label>
                                                        <span style="font-family: 'pre1';"
                                                            value="{{data}}"
                                                            onclick="searchDetail('method','{{data}}')">▪ {{data}}</span>
                                                    </label> 
                                                    
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </td>
              
                </tr>
            
            </table>

        {% else %}
            <table id="errorTable">
                <tr>
                    <td>
                        <span id="errorTitle">
                            <span style="font-weight:bold; font-size:40px;">{{searchWord}}</span>
                            에 대한 검색결과가 없습니다.
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="errorDetail">
                            모든 단어의 맞춤법이 정확한지 확인하거나 다른 검색어로 다시 검색을 시도해주세요.<br>
                        </div>
                    </td>
                </tr>
            </table>
        {% endif %}
    </body>
</html>