<!--

uploadLists.html 
- 편집할 수 있는 영상을 확인합니다.

- redirect with : '/uploadFile/lists'
- linked with : views/main_views.py

-->

<!DOCTYPE html>
<html>
<head>
        <title>VMeta - Edit List</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videoList.css') }}">

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/serach.js') }}"></script>
        <script>
            function resetDetail(){
                document.getElementById('category').value = '';
                document.getElementById('method').value = '';
                document.getElementById('narrative').value = '';
                document.getElementById("form").submit();
            }
            function searchDetail(search_type, search_detail_type){
                if (search_type == 'category') {
                    document.getElementById(search_type).value += `${search_detail_type}, `;
                } else {
                    document.getElementById(search_type).value = search_detail_type;
                }
                document.getElementById("form").submit();
            }
        </script>
</head>
<body class="bodyArea" onload="onloads();">
    
    {% include 'header.html' %}
    {% if code == 200 %}
    <table class="bodyTable">
        <tr>
            <div class= list>
            <td class="section">
                <p style="text-align:left; margin-left:35px;">✔ {{videoIdList|length}}개의 동영상을 수정할 수 있습니다.</p>
               
                {% if category != '' or narrative != '' or method != '' %}
                <p style="text-align:left; margin-left:35px;">✔ FILTER &nbsp;
                {% if category != '' %} <span class="VT_category"> {{category}} </span> {% endif %}
                {% if narrative != '' %} <span class="VT_narrative">{{narrative}}</span> {% endif %}
                {% if method != '' %} <span class="VT_method">{{method}}</span> {% endif %}
                <span onclick="resetDetail()" id="resetBtn">RESET</span>
                </p>
                {% endif %}
               
                {% for meta in videoMetaList %}
                    {% for ii in meta.metadata %}
                        <table
                            class="videoListTable"
                            onclick="location.href='/detail/{{ii.id}}/edit'">
                            <tr>
                                <td style="width: 300px;">
                                    <image class="VT_thumbnail" src="{{ url_for('search.data', filepath = meta.thumbnail) }}"></image>
                                </td>
                                <td>
                                    <table class="videoTable">
                                        <tr>
                                            <td>
                                                <div class="VT_category">{{ii.category}}</div>
                                                <div class="VT_narrative">{{ii.narrative}}</div>
                                                <div class="VT_method">{{ii.presentation}}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="VT_videoTitle">{{ii.title}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                {% for key in meta.keyword %}
                                                    {% if key != "" and loop.index < 6 %}
                                                        <div class="VT_keywords">#{{key}}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="VT_presenter">
                                                    <image
                                                        src="{{ url_for('static', filename='img/user.png') }}"
                                                        style="height: 17px; align-items: center;"></image>
                                                    {{ii.presenter}}
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: bottom; min-width: 140px;">
                                    <div class="VT_uploadedDate">{{ii.uploaddate}}</div>
                                </td>
                            </tr>
                        </table>
                    {% endfor %}
                {% endfor %}
            </td>
        </div>

            <div class= side>
            <td class="aside">
                    <form action="/uploadFile/lists" method="POST" id="form">
                        <input type="hidden" name="category" id="category" value="{{category}}">
                        <input type="hidden" name="method" id="method" value="{{method}}">
                        <input type="hidden" name="narrative" id="narrative" value="{{narrative}}">
                        <div class="category">

                            <h2 class="todo-cmp__header">검색 내 세부검색</h2>
                            
                            <ul class="todo-cmp__list">
                                <li> CATEGORY</li>
                                <ul class="todo-cmp__list">
                                    {% for category in categoryList %}
                                        <li>
                                            <label>
                                                <span style="font-family: 'pre1';"
                                                    value=  {{category}}
                                                    onclick="searchDetail('category','{{category}}')">▪ {{category}}</span>
                                            </label> 
                                            
                                        </li>
                                    {% endfor %}
                                </ul>
                            </ul>

                            <ul class="todo-cmp__list">
                                <li>TYPE</li>
                                <ul class="todo-cmp__list">
                                    {% for type in typeList %}
                                        <li>
                                            <label>
                                                <span style="font-family: 'pre1';"
                                                    value="{{type}}"
                                                    onclick="searchDetail('narrative','{{type}}')">▪ {{type}}</span>
                                            </label> 
                                            
                                        </li>
                                    {% endfor %}
                                </ul>
                            </ul>

                            <ul class="todo-cmp__list">
                                <li>PRESENTATION</li>
                                <ul class="todo-cmp__list">
                                    {% for data in dataList %}
                                        <li>
                                            <label>
                                                <span style="font-family: 'pre1';"
                                                    value="{{data}}"
                                                    onclick="searchDetail('method','{{data}}')">▪ {{data}}</span>
                                            </label> 
                                            
                                        </li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                    </div>
                </form>
            </td>
        </div>
        </tr>
    
    </table>

    {% else %}
    <table id="errorTable">
        <tr><td>
            <span id="errorTitle">
                Video Not Found.
            </span>
        </td></tr>
        <tr><td>
            <div class="errorDetail">
                아직 변환이 완료된 비디오가 없습니다. <br>
                잠시 후 다시 시도해주세요.
            </div>
        </td></tr>
    </table>
    {% endif %}
</body>
</html>