<!--

upload.html 
- 영상을 업로드하는 화면입니다.

- redirect with : '/uploadFile'
- linked with : views/main_views.py

-->

<!DOCTYPE html>
<html>
    <head>
        <title>VMeta - File Upload</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
    </head>
    <body class="bodyArea" onload="onloads();">
        {% include 'header.html' %}
        <div id="uploadFileTitle">UPLOAD FILE</div>
        <form
            action="."
            method="POST"
            enctype="multipart/form-data">
            <table id="uploadFileTable">
                <tr>
                    <td>
                        <div class="tags">Title :
                        </div>
                    </td>
                    <td class="uploadFileTableTD">
                        <input
                            type="text"
                            name="title"
                            class="inputText"
                            placeholder="Enter a title">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="errorMsg">{{error.nameError}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="uploadFileTableTD">
                        <div class="tags">Presenter :
                        </div>
                    </td>
                    <td class="uploadFileTableTD">
                        <input type="text" name="presenter" class="inputText" placeholder="HSTACK">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="errorMsg">{{error.presenterError}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="uploadFileTableTD">
                        <div class="tags">Password :
                        </div>
                    </td>
                    <td class="uploadFileTableTD">
                        <input type="password" name="password" class="inputText" maxlength="10" placeholder="max length is 10.">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="errorMsg">{{error.passwordError}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="uploadFileTableTD">
                        <div class="tags">Video File :
                        </div>
                    </td>
                    <td class="uploadFileTableTD">
                        <input type="file" name="videoFile" id="btn" ;=";">
                        <!-- <label id="fileBtn" for="btn"> 파일 선택 </label> -->
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="errorMsg">{{error.fileError}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="uploadFileTableTD"></td>
                    <td id="uploadFileSubmit">
                        <input id="inputSubmit" type="submit" value="Upload">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>